* {
  font-family: 'Roboto', sans-serif;
}

/* Style for the Copy button */
.copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#parsedSteps {
  text-align: left;
}

parse-form {
  width: 50%;
}

#jiraText {
  box-sizing: border-box;
  width: 77%;
  background-color: #fff1e6;
  border-radius: 1em;
  border: 2px solid #cb997e;
}

#jiraText::placeholder {
  font-size: 1.5em;
  padding: 0.5em;
}

.submit-button {
  font-size: 1.2rem;
  padding: 0.7em;
  margin: 1em;
  width: 20em;
  border-radius: 0.5em;
  background-color: #ddbea9;
  border: 2px solid #e7d8c9;
}

html {
  background-color: white;
}

#parsedSteps {
  background-color: #fff1e6;
  width: 77%;
  min-height: 400px;
  display: block;
  border: 2px solid #cb997e;
  border-radius: 1em;
  box-sizing: border-box;
  padding: 1rem;
}
